.search-bar {
  height: 3.2rem;
  max-width: calc(100% - 85.6rem);
  min-width: 450px;
  flex: 1;

  .search-bar-input {
    border: 0;
    background: rgba(255,255,255,.8);
    border-radius: .3rem;
    color: #fff;
    margin-bottom: .1rem;
    padding: 0 3rem .1rem 1.2rem;
    height: 100%;
    width: 100%;
  }

  .search-list {
    position: relative;
    z-index: 1000;
    .ant-list {
      background-color: #fff;
      .ant-list-items {
        .ant-list-item {
          display: flex;
          align-items: center;
          flex-grow: 1;
          cursor: pointer;
          &:hover {
            background-color: #f0f0f0;
          }
          .item-avatar {
            min-width: 30px;
            max-width: 30px;
            height: 30px;
            background: #cd3939;
            border-radius: 50%;
          }
          .item-text {
            flex-grow: 1;
            padding-left: 20px;
          }
        }
      }
    }
  }
} 